
/* spectral-regular - latin */
@font-face {
  font-display: fallback; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/spectral-v14-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Defaults */
:root {
	--font-family: 'Spectral', -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
}

/* Colors */
:root {
  /* just visual impact things */
  --background-color: #047E7E;
  /* anything that has text to it */
  --container-color: #0A4848;

  /* list of colors */
  --color-white: #fff;
  --color-yellow: #FFFF04;
  --color-gray: #BEBEBE;
  --color-black: #000;

	--text-color: var(--color-white);
  --border-color: var(--color-black);
  --link-color: #06FFFF;

  --syntax-tab-size: 2;
}

html,
body {
  padding: 0;
  margin: 1em auto;

  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
  max-width: 64em;
}

* {
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
}

header > .home-link {
  font-size: 4.5em;
  font-weight: 400;
  height: 110px;
  padding: 0;
  text-align: center;
  color: var(--color-yellow);
  text-decoration: none;
}

.nav {
  background-color: var(--color-gray);
  border: 2px solid var(--border-color);
  padding: 0.25em 1em;
  height: 2.125em;
  display: flex;
  margin: 0;
  list-style: none;
  gap: .5em
}
.nav-item {
	display: inline-block;
}
.nav-item a {
  color: var(--color-black);
}
.nav-item a[href]:not(:hover) {
	text-decoration: underline;
}
.nav a[href][aria-current="page"] {
	text-decoration: none;
}


/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.shadow {
  filter: drop-shadow(2px 2px 0 rgba(0, 0, 0, 0.25));
}

a {
  color: var(--link-color);
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

figure {
  margin: 0
}
img{
  max-width: 100%;
  filter: drop-shadow(2px 2px 0 rgba(0, 0, 0, 0.25));
}
img[width][height] {
  height: auto;
}
img[src$=".svg"] {
  width: 100%;
  height: auto;
  max-width: none;
}
figcaption { 
  font-size: 0.75em;
  color: #BEBEBE;
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	overflow-x: auto;
}
code {
	word-break: break-all;
}

.container {
  background-color: var(--container-color);
  max-width: 48em;
  margin: 1.5em auto 0 auto;
  padding: 1em 2em 2em 2em;
  font-size: 1.25em;
}

.blog-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

