---
layout: layouts/layout.liquid
eleventyNavigation:
  key: Home
  order: 1
---
<h1>Home</h1>
<p>
  Hello, this is a long rant. Hello, this is a long rant. Hello, this is a long rant. Hello, this is a long rant. Hello,
  this is a long rant. Hello, this is a long rant.
</p>

Blog

{% for blogpost in collections.blog reversed %}
  <h2>
    <a href="{{ blogpost.url }}">{{ blogpost.data.title }} - {{ blogpost.page.date | date: '%B %d, %Y' }}</a>
  </h2>
{% endfor %}
