---
layout: layouts/layout.liquid
---
<header class="shadow">
  {{ metadata.title | default: 'Deni Cho' }}
</header>

<div class="container">
  <h1>Home</h1>
  <p>
    Hello, this is a long rant. Hello, this is a long rant. Hello, this is a long rant. Hello, this is a long rant.
    Hello, this is a long rant. Hello, this is a long rant.
  </p>

  Writings

  {% for writing in collections.writings reversed %}
    <h2>
      <a href="{{ writing.url }}">{{ writing.data.title }} - {{ writing.page.date | date: '%B %d, %Y' }}</a>
    </h2>
  {% endfor %}
</div>
