---
layout: layouts/layout.liquid
---
<header>
  {{ metadata.title | default: 'Deni Cho' }}
</header>

Halo, hello, hallo!

Writings

{% for writing in collections.writings reversed %}
  <h2>
    <a href="{{ writing.url }}">{{ writing.data.title }} - {{ writing.page.date | date: '%B %d, %Y' }}</a>
  </h2>
{% endfor %}
