---
layout: layouts/layout.liquid
eleventyNavigation:
  key: Home
  order: 1
---
<h1>Home</h1>
<p>
  Hey!!! I am building my new blog site. If you're somehow here early, please visit
  <a href="https://denicho-dev-deni-chos-projects.vercel.app">my old website</a> instead &lt;3
</p>

<h1>Blog</h1>
{% for blogpost in collections.blog reversed %}
  <h4>
    <a href="{{ blogpost.url }}">{{ blogpost.data.title }} - {{ blogpost.page.date | date: '%B %d, %Y' }}</a>
  </h4>
{% endfor %}
