---
layout: layouts/layout.liquid
eleventyNavigation:
  key: Home
  order: 1
---
<p>
  --- Hey!!! I am currently building my new website, this time much simpler and much more effort in writing and keeping
  everything owned by me. If you're somehow here early, please visit
  <a href="https://denicho-dev-deni-chos-projects.vercel.app">my old website</a> instead &lt;3 ---
</p>

<h1>Home</h1>

<p>
  This is a personal website of me, <a href="/about/">Deni</a>. I made this website for myself, to look back on what I
  was thinking at the time and to reflect on it. Hence, I write what I feel like writing, be it tech stuff, gaming, or
  whatever. See I don't really speak English natively and I don't proofread what I write all the time (it's not super
  serious), so please bear with me.
</p>

<h1>Latest writings</h1>
{% for blogpost in collections.blog reversed %}
  <h4>
    <a href="{{ blogpost.url }}">{{ blogpost.data.title }} - {{ blogpost.page.date | date: '%B %d, %Y' }}</a>
  </h4>
{% endfor %}
