---
layout: layouts/layout.liquid
eleventyNavigation:
  key: home
  order: 1
numberOfLatestPostsToShow: 1
---

<h1>Home</h1>

<p>
  I got exhausted of maintaining a fully professional persona so here it is, my mostly unfiltered personal website. If
  you're a recruiter, either go to <a href="/blog">blog</a> or know more about <a href="/about">me</a>
</p>

<p>
  I made this website for myself, to share my thoughts on <a href="/whats_happening">my own semi-void</a> to look back
  on what I was thinking at the time and to reflect on it. Hence, I write what I feel like writing, be it tech stuff,
  gaming, or whatever. See I don't really speak English natively and I don't proofread what I write all the time (it's
  not super serious), so please bear with me.
</p>

<h1>Latest writings</h1>
{% assign postsCount = collections.blog | size %}
{% include 'bloglist-max-5.liquid' %}

<br></br>
<hr></hr>
<a href="/wander">wander the cooler, decentralized web</a>
