---
layout: layouts/layout.liquid
eleventyNavigation:
  key: semivoid
  title: semi-void
  order: 2
---
<p>
  ever since elon bought twitter and went batshit crazy, i'm trying my best to not ever use it again as how i'm
  trying to refuse to call it with any other names.
</p>

<p>
  so instead of shouting to my long left followers, i can just shout here, to my semi-void.
</p>

<br></br>

{% include 'semivoid.liquid' %}
