---
layout: layouts/layout.liquid
---
<style>
  {% include "./css/prism.css" %}
</style>

<h1>{{ title }}</h1>
<time class="blog-time" datetime="{{ date | date: '%Y-%m-%d' }}">{{ date | date: '%b %d, %Y' }}</time>

{{ content }}
